.lake
*.olean
*.paux
*.aux
*.fls
*.fdb_latexmk
*.log
*.swp
*.out
*.synctex.gz
.DS_Store

# leanblueprint generated artifacts
lean_decls
blueprint/web
blueprint/print

# Keep source files
!blueprint/src/
